
/*---------------------CSS for the NAV BAR-------------------------*/
/*-----------------------------------------------------------------*/
.navbar-seed {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background-color: transparent;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  border-color: rgba(255,255,255,.3);
}

.navbar-header {
  float: left;
}
.navbar-seed .nav > li> a{
  text-decoration: none;
}
.navbar-seed .nav > li> a,
.navbar-seed .nav > li > a:focus {
    color: #E5EA6F;
}

.navbar-seed .nav > li > a:hover,
.navbar-seed .nav > li > a:focus:hover {
    color: #D19F88;
}

ul.nav {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

ul.nav li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
/*-----------------------------------------------------------------*/

